<div class="card">
  <h3 class="text-center">Editar departamento</h3>

  <form #formulario="ngForm" (ngSubmit)="finalizarEdicao()">

    <div class="form-group row">
      <label class="col-2 col-form-label">Curso:</label>
      <div class="col-10">
        <input type="text"  required class="form-control" name="nome" placeholder="Nome do departamento" [(ngModel)]="departamento.nome">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Telefone:</label>
      <div class="col-10">
        <input type="text" class="form-control" mask="(00) 0000-0000" required name="telefone" placeholder="Telefone" [(ngModel)]="departamento.telefone">
      </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Instituto:</label>
        <div class="col-10">
          <select required class="form-control" name="instituto" [(ngModel)]="departamento.instituto">
            <option *ngFor="let item of instituto"> {{item.nome}}</option>
          </select>
        </div>
      </div>
    <div class="d-flex flex-row-reverse">
        <input type="reset" class="btn btn-outline-danger" value="Resetar">
        <ng-container *ngIf="formulario.valid; else elseTemplate">
            <input type="submit" class="btn btn-outline-primary" value="Editar">
        </ng-container>
        <ng-template #elseTemplate>
            <input type="submit" disabled class="btn btn-outline-primary" value="Editar">
        </ng-template>
    </div>
  </form>


</div>
