<div class="container">
  <div class="row">

    <div class="form-group">
      <label for="sel1">Selecione a disciplina:</label>
      <select class="form-control" id="sel1">
        <option>Inteligência Artificial</option>
        <option>Sistema Distribuído</option>
        <option>Redes</option>
        <option>Web 2</option>
      </select>
    </div>
  </div>

  <div class="row">  
      <form #formulario="ngForm" (ngSubmit)="finalizarAtualizacao()">

          <div class="row">
              <div class="col-4">
                <label> Aluno </label>
              </div>
              <div class="col-4">
                  <label> Nota </label>
                </div>
                <div class="col-4">
                    <label> Presença </label>
                  </div>
                  
          </div>


          <div class="row" *ngFor="let i of alunos">
              <div class="col-3">
                <label> {{i.nome}} </label>
              </div>
              <div class="col-3">
                <input class="form-control form-control-sm" type="number"   value="20"  required min=0 pattern="^[0-9]*" ngModel name="nota" >
              </div>
              <div class="col-3">
                  <input class="form-control form-control-sm" type="number" [value]=i.faltas [placeholder]=i.faltas required min=0 pattern="^[0-9]*" ngModel name="falta" >
               </div>
          
            </div>
      </form>
  </div>


</div>