<table class="table">
    <thead>
      <tr>
        <th scope="col">Disciplina</th>
        <th scope="col">Prova 1</th>
        <th scope="col">Prova 2</th>
        <th scope="col">Trabalho</th>
        <th scope="col">Total</th>
        <th scope="col">Situação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of notas">
        <th>{{i.disciplinaNome}}</th>
        <td>{{i.p1}}</td>
        <td>{{i.p2}}</td>
        <td>{{i.trabalho}}</td>
        <td>{{ i.p1 + i.p2 + i.trabalho}}</td>
        <ng-container *ngIf="i.p1 + i.p2 + i.trabalho >= 6; else elseTemplate">
            <td> <label> Aprovado </label></td>
          </ng-container>
          <ng-template #elseTemplate>
            <td> <label> Exame Final </label></td>
          </ng-template>
      </tr>

    </tbody>
  </table>
