<div class="card">
  <h3 class="text-center">Editar aluno</h3>

  <form #formulario="ngForm" (ngSubmit)="finalizarEdicao()">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nome:</label>
      <div class="col-10">
        <input type="text" required class="form-control" name="nome" placeholder="Nome do aluno" [(ngModel)]="aluno.nome">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Email:</label>
      <div class="col-10">
        <input type="email" required class="form-control" name="email" placeholder="Email" [(ngModel)]="aluno.email">
      </div>
    </div>



    <div class="form-group row">
      <label class="col-2 col-form-label">Telefone:</label>
      <div class="col-10">
        <input type="text" class="form-control" mask="(00) 0000-0000" required name="telefone" placeholder="Telefone"
        [(ngModel)]="aluno.telefone">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Endereço:</label>
      <div class="col-10">
        <input type="text" required class="form-control" name="endereco" placeholder="Endereço" [(ngModel)]="aluno.endereco">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Ano de início:</label>
      <div class="col-10">
        <input type="text" required class="form-control" mask="0000" name="anoinicio" [(ngModel)]="aluno.anoinicio">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Curso:</label>
      <div class="col-10">
        <select required class="form-control" name="curso" [(ngModel)]="aluno.curso">
          <option *ngFor="let item of cursos"> {{item.nome}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Semestre:</label>
      <div class="col-10">
        <input type="text" required class="form-control"  name="semestre" mask="09"  [(ngModel)]="aluno.semestre">
      </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Opções:</label>
        <div class="col-10">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="bolsista"  [(ngModel)]="aluno.bolsista">
            <label class="form-check-label" >Bolsista</label>
          </div>

        </div>
      </div>


    <div class="d-flex flex-row-reverse">
      <input type="reset" class="btn btn-outline-danger" value="Resetar">
      <ng-container *ngIf="formulario.valid; else elseTemplate">
        <input type="submit" class="btn btn-outline-primary" value="Editar">
      </ng-container>
      <ng-template #elseTemplate>
        <input type="submit" disabled class="btn btn-outline-primary" value="Editar">
      </ng-template>
    </div>
  </form>


</div>
