<div class="card">
  <h3 class="text-center">Matricular aluno</h3>

  <form #formulario="ngForm" (ngSubmit)="matricular()">




    <div class="form-group row">
      <label class="col-2 col-form-label">Aluno:</label>
      <div class="col-10">
        <select required class="form-control" name="aluno" ngModel>
            <option disabled></option>
          <option *ngFor="let item of alunos" value="{{item.idAluno}}"> {{item.nome}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Disciplina:</label>
      <div class="col-10">
        <select required class="form-control" name="disciplina" ngModel>
            <option disabled></option>
          <option *ngFor="let item of disciplinas" value={{item.idDisciplina}}> {{item.nome}}</option>
        </select>
      </div>
    </div>


    <div class="d-flex flex-row-reverse">
      <input type="reset" class="btn btn-outline-danger" value="Resetar">
      <ng-container *ngIf="formulario.valid; else elseTemplate">
        <input type="submit" class="btn btn-outline-primary" value="Matricular">
      </ng-container>
      <ng-template #elseTemplate>
        <input type="submit" disabled class="btn btn-outline-primary" value="Matricular">
      </ng-template>
    </div>
  </form>


</div>
