<div class="card">
  <h3 class="text-center">Editar curso</h3>

  <form #formulario="ngForm" (ngSubmit)="finalizarEdicao()">

    <div class="form-group row">
      <label class="col-2 col-form-label">Curso</label>
      <div class="col-10">
        <input type="text"  required class="form-control" name="nome" placeholder="Nome Curso" [(ngModel)]="curso.nome">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Departamento</label>
      <div class="col-10">
        <select required class="form-control" name="departamento" [(ngModel)]="curso.departamento">
            <option disabled></option>
          <option *ngFor="let item of departamentos"> {{item.nome}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Professor</label>
        <div class="col-10">
          <select required class="form-control" name="professor" [(ngModel)]="curso.professor">
            <option disabled></option>
            <option *ngFor="let item of professores" value="{{item.idProfessor}}"> {{item.nome}}</option>
          </select>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Área</label>
      <div class="col-10">
        <input type="text" class="form-control" required name="area" placeholder="Área" [(ngModel)]="curso.area">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Vagas</label>
      <div class="col-10">
        <input type="number" class="form-control" required name="vagas"  placeholder="0" [(ngModel)]="curso.vagas" >
      </div>
    </div>

    <div class="d-flex flex-row-reverse">
        <input type="reset" class="btn btn-outline-danger" value="Resetar">
        <ng-container *ngIf="formulario.valid; else elseTemplate">
            <input type="submit" class="btn btn-outline-primary" value="Editar">
        </ng-container>
        <ng-template #elseTemplate>
            <input type="submit" disabled class="btn btn-outline-primary" value="Editar">
        </ng-template>


    </div>
  </form>


</div>
